.category_name {
  font-size: 1.5rem;
  font-weight: bold;
}

.item_image {
  width: 100%;
  height: 200px;
}

.item_details {
  border-top: 1px solid grey;
  background-color: #fff;
  padding: 10px;
  color: grey;
}

.item_container {
  position: relative;
}
